@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
   
    --medium-blue: #23A5D9;
    --medium-green:  #4ade80;
    --swiper-navigation-size: 20px !important;
    
  }
}


h1 {
  @apply text-2xl md:text-5xl font-bold text-[#0D0D0D] uppercase mb-5 md:mb-8 leading-[40px] md:leading-[60px]
}

h3 {
  @apply text-3xl font-bold text-[#FEFEFE] uppercase mb-8 leading-[60px]
}

h4 {
  @apply text-xl font-bold text-[#0D0D0D] uppercase md:leading-[60px]
}

h5 {
  @apply text-xl font-bold text-[#0D0D0D] uppercase leading-[35px] md:leading-[60px]
}

h6 {
  @apply text-sm font-bold text-[#0D0D0D] uppercase mb-3
}


p {
  @apply text-sm md:text-lg text-gray-700 leading-loose
}
li {
  @apply text-lg font-medium text-[#0D0D0D]
}

.circle {
  width: 650px;
  height: 550px;
  background: linear-gradient(to bottom, #23A5D9 70%, #4ade80 30%);
  filter: blur(100px);
  opacity: 40%;
}


.swiper-button-next:after {
  background-color: black;
  padding: 15px;
  margin-left: 10px;
  color: white;
}

/* Override the styles for the prev button's after pseudo-element */
.swiper-button-prev:after {
  background-color: black;
  padding: 15px;
  margin-right: 10px;
  color: white;
}